<!DOCTYPE html>
<html lang="en">

<head>
    <title>Troy Ong | Developer Profile</title>
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Template css Files -->
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/skins/pink.css" type="text/css" />

    <!-- Live Theme Switcher -->
    <link rel="stylesheet" class="alternate-theme" title="pink" href="/public/css/skins/pink.css" type="text/css"
        disabled />
    <link rel="stylesheet" class="alternate-theme" title="blue" href="/public/css/skins/blue.css" type="text/css"
        disabled />
    <link rel="stylesheet" class="alternate-theme" title="orange" href="/public/css/skins/orange.css" type="text/css"
        disabled />
    <link rel="stylesheet" class="alternate-theme" title="yellow" href="/public/css/skins/yellow.css" type="text/css"
        disabled />
    <link rel="stylesheet" class="alternate-theme" title="green" href="/public/css/skins/green.css" type="text/css"
        disabled />
    <link rel="stylesheet" href="/public/css/themeSwitcher.css" type="text/css" />
</head>

<body>
    <!-------  Preloader ------------>
    <div class="preloader">
        <div class="loader"></div>
    </div>

    <!-------  Preloader End------------>
    <!--Main Container -->
    <div class="main-container">
        <!-- Aside -->
        <div class="aside">
            <!-- Logo -->
            <div class="logo">
                <a href="#"> Daniel Troy</a>
            </div>
            <!-- Navigation Toggler Btn-->
            <div class="nav-toggler">
                <span></span>
            </div>

            <!-- Navigation -->
            <ul class="nav">
                <li>
                    <a href="#home" class="active"><i class="fa fa-home"></i> Home </a>
                </li>
                <li>
                    <a href="#about"><i class="fa fa-user"></i> About </a>
                </li>
                <li>
                    <a href="#portfolio"><i class="fa fa-briefcase"></i> Portfolio </a>
                </li>
                <li>
                    <a href="#contact"><i class="fa fa-comments"></i> Contact </a>
                </li>
            </ul>
            <!-- Copyright -->
            <div class="copyright-text">
                &copy; Troy Ong | Portfolio 2020
            </div>
        </div>
        <!-- Aside End -->
        <!-- Main Content -->
        <div class="main-content">
            <!-- Home Section -->
            <section class="home section active" id="home">
                <div class="container">
                    <div class="intro">
                        <div id="stars"></div>
                        <div id="stars2"></div>
                        <div id="stars3"></div>
                        <img src="/public/images/hero-img.png" alt="profile" class="shadow-dark" />
                        <h1>Daniel Troy Ong</h1>
                        <p>Web Developer | MERN Stack</p>
                        <div class="social-links">
                            <a href="https://github.com/danieltroy092"><i class="fab fa-github"></i></a>
                            <a href="www.linkedin.com/in/daniel-troy-ong-3259431b0"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://codepen.io/danieltroy092"><i class="fab fa-codepen"></i>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Home Section End -->

            <!-- About Section -->
            <section class="about section" id="about">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>About Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-content padd-15">
                            <div class="row">
                                <div class="about-text padd-15">
                                    <h3>I'm Troy, an aspiring <span>Web Developer</span></h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Optio, veniam vel. Quos magnam vero, magni culpa ut alias
                                        aliquid itaque neque molestias. Ratione eveniet temporibus
                                        libero qui possimus, animi aliquid ad ipsum quo. Ea ipsam
                                        sapiente suscipit, ullam dolorem officia. Ratione eveniet
                                        temporibus libero qui possimus, animi aliquid ad ipsum
                                        quo. Ea ipsam sapiente suscipit, ullam dolorem officia.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="skills padd-15">
                                    <img class="img-profile" src="/public/images/profile.jpg" alt="profile" />
                                </div>
                                <div class="personal-info padd-15">
                                    <div class="row">
                                        <div class="info-item padd-15">
                                            <p>Full Name : <span>Daniel Troy Ong</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Date of Birth : <span>13-09-1992</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Age: <span>27</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Location : <span>Bristol, UK</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Nationality : <span>British</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Ethnicity : <span>Filipino</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Education : <span>Computer Science BSc</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Language : <span>English & Filipino</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Freelance : <span>Available</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="buttons padd-15">
                                            <a href="#" class="btn">Download CV</a>
                                            <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="education padd-15">
                                    <h3 class="title">Education</h3>
                                    <div class="row">
                                        <div class="timeline-box padd-15">
                                            <div class="timeline shadow-dark">
                                                <!--------- TImeline Item ------------->
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h6 class="timeline-date">
                                                        <i class="fa fa-calendar"></i> 2015 - 2019
                                                    </h6>
                                                    <h4 class="timeline-title">
                                                        University of the West of England (UWE)
                                                    </h4>
                                                    <p class="timeline-text">Computer Science BSc</p>
                                                </div>
                                                <!--------- TImeline Item End------------->
                                                <!--------- TImeline Item ------------->
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h6 class="timeline-date">
                                                        <i class="fa fa-calendar"></i> 2012 - 2014
                                                    </h6>
                                                    <h4 class="timeline-title">
                                                        Coleg Gwent (City of Newport Campus)
                                                    </h4>
                                                    <p class="timeline-text">
                                                        BTEC National in IT Level 3
                                                    </p>
                                                </div>
                                                <!--------- TImeline Item End------------->
                                                <!--------- TImeline Item ------------->
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h6 class="timeline-date">
                                                        <i class="fa fa-calendar"></i> 2008 - 2012
                                                    </h6>
                                                    <h4 class="timeline-title">
                                                        St. Julians Comprehensive
                                                    </h4>
                                                    <p class="timeline-text">
                                                        Compulsory Secondary Education (GCSEs)
                                                    </p>
                                                </div>
                                                <!--------- TImeline Item End------------->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="proficiencies padd-15">
                                    <h3 class="title">Technical Proficiencies</h3>
                                    <div class="row">
                                        <div class="timeline-box padd-15">
                                            <div class="timeline shadow-dark">
                                                <div class="tabs">
                                                    <ul>
                                                        <li class="tab-active">
                                                            <span class="tech-icon"></span>
                                                            <i class="far fa-window-restore"></i>
                                                            <span class="tech-text">Front-end</span>
                                                        </li>
                                                        <li>
                                                            <span class="tech-icon"></span>
                                                            <i class="fas fa-server"></i>
                                                            <span class="tech-text">Back-end</span>
                                                        </li>
                                                        <li>
                                                            <span class="tech-icon"></span>
                                                            <i class="fas fa-cubes"></i>
                                                            <span class="tech-text">Other</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tech-content">
                                                    <div class="tab-wrap" style="display: block;">
                                                        <div class="tab-title">
                                                            Front-end
                                                        </div>
                                                        <div class="tab-content">
                                                            <ul>
                                                                <li>Javascript (ES6)</li>
                                                                <li>HTML 5</li>
                                                                <li>CSS 3 | SaSS</li>
                                                                <li>React | Hooks | Redux</li>
                                                                <li>Bootstrap 4</li>
                                                                <li>jQuery</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="tab-wrap" style="display: none;">
                                                        <div class="tab-title">
                                                            Back-end
                                                        </div>
                                                        <div class="tab-content">
                                                            <ul>
                                                                <li>Node JS | Express JS</li>
                                                                <li>MongoDB | mySQL</li>
                                                                <li>Firebase</li>
                                                                <li>Python</li>
                                                                <li>Php</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="tab-wrap" style="display: none;">
                                                        <div class="tab-title">
                                                            Other
                                                        </div>
                                                        <div class="tab-content">
                                                            <ul>
                                                                <li>GraphQL APIs | REST APIs | JS Libraries</li>
                                                                <li>Github (Version Control)</li>
                                                                <li>MVC Framework</li>
                                                                <li>Agile | Kanban Workflow</li>
                                                                <li>NPM | Webpack | Babel</li>
                                                                <li>Responsive Design | Progressive Web Apps (PWA)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!----------------------- About Section End --------------------------->
            <!----------------------- Portfolio Section ------------------------------->
            <section class="portfolio section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Portfolio</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="portfolio-filter padd-15">
                            <button type="button" class="active" data-filter="all">
                                All
                            </button>
                            <button type="button" data-filter="javascript">
                                Javascript
                            </button>
                            <button type="button" data-filter="bootstrap">Bootstrap</button>
                            <button type="button" data-filter="react">React</button>
                        </div>
                    </div>
                    <div class="row">
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="react">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/printed.gif" alt="React app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>Printed Threads</h2>
                                        <p>
                                            Mock E-commerce web app that utilises Firebase for
                                            database functionality and Stripe.Js as a payment
                                            system.
                                        </p>
                                        <button class="btn-code"><a
                                                href="https://github.com/danieltroy092/printed-threads"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://printed-threads-uk.herokuapp.com/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="javascript">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/forkify.gif" alt="Javascript app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>Forkify</h2>
                                        <p>
                                            Recipe Web App that utilises the Forkify API.
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/forkify"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://danieltroy-forkify.herokuapp.com/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="javascript">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/rosa.gif" alt="Javascript app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>The Rosa</h2>
                                        <p>
                                            Mobile-first restaurant themed web app.
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/Rosa"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://sad-hawking-473404.netlify.app/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="javascript">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/platformer.gif" alt="Javascript app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>2D Platformer Game</h2>
                                        <p>
                                            2D Platformer utilising the Phaser Framework.
                                        </p>
                                        <button class="btn-code"><a
                                                href="https://github.com/danieltroy092/phaser3Platformer"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a
                                                href="https://danieltroy-phaser3-platformer.herokuapp.com/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="react">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/covid19.gif" alt="React app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>COVID-19 Tracker App</h2>
                                        <p>
                                            Web App that informs the user about the spread of the
                                            COVID-19 virus worldwide. It utilises a number of
                                            frameworks which are React Hooks, Material UI and
                                            ChartJS.
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/covidTracker"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://virus-tracker19.herokuapp.com/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="javascript">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/Kanban.gif" alt="javascript app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>Task Fellow (Trello Clone)</h2>
                                        <p>
                                            A project management tool used to visualise tasks and
                                            oversee the completion of a project within an agile
                                            development process.
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/taskfellow"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://trelloclone.remakeapps.com/user/login"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="react">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/MovieDatabase.gif" alt="react app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>MovieDB</h2>
                                        <p>
                                            Movie Database web app using MERN stack & TMDB API.
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/movieDB"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://danieltroy-moviedb.herokuapp.com/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="javascript">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/rpg.gif" alt="javascript app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>Click RPG Game</h2>
                                        <p>
                                            Menu based RPG fighting game built using vanilla JS
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/onClick_RPG"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://laughing-brown-bbaa6a.netlify.app/#"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                        <!--------- Portfolio Item ----------->
                        <div class="portfolio-item padd-15" data-category="bootstrap">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="/public/images/portfolio/apper.gif" alt="bootstrap app" />
                                </div>
                                <div class="portfolio-info">
                                    <div class="portfolio-content">
                                        <h2>Apper</h2>
                                        <p>
                                            Mobile-app builder web app built using Bootstrap 4.
                                        </p>
                                        <button class="btn-code"><a href="https://github.com/danieltroy092/Apper"
                                                target="_blank">Code</a></button>
                                        <button class="btn-live"><a href="https://reverent-shannon-c91a0b.netlify.app/"
                                                target="_blank">Live</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------- Portfolio Item End----------->
                    </div>
                </div>
            </section>

            <!--------- Contact Section ------->
            <section class="contact section" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Contact Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Contact-info-item -->
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <h4>Call On</h4>
                            <p>07737 240210</p>
                        </div>
                        <!------ Contact-info-item End ------->
                        <!-- Contact-info-item -->
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-map-marker"></i></div>
                            <h4>Location</h4>
                            <p>Bristol, UK</p>
                        </div>
                        <!------ Contact-info-item End ------->
                        <!-- Contact-info-item -->
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <h4>Email</h4>
                            <p class="email">danieltroy092@gmail.com</p>
                        </div>
                        <!------ Contact-info-item End ------->
                    </div>
                    <!--------- Contact form --------------->
                    <div class="row">
                        {{msg}}
                        <form method="POST" action="send" class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name*" />
                                    </div>
                                </div>

                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" placeholder="Email*" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject*" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message"
                                            placeholder="Type your message here..."></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 padd-15">
                                    <button type="submit" class="btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--------- Contact form End--------------->
                </div>
            </section>
            <!--------- Contact Section End ---------------->
        </div>
        <!------------------ Main Content End ------------>
    </div>
    <!------------------- Main Container -------------->
    <!----------- Live Theme Switcher ----------------->

    <div class="theme-switcher">
        <div class="toggle-theme-switcher">
            <i class="fa fa-cog fa-spin"></i>
        </div>
        <h5>Theme Switcher</h5>
        <ul>
            <li>
                <a href="javascript:void(0);" title="pink" style="background-color: #ec1839;"
                    onclick="setActiveTheme('pink')"></a>
            </li>
            <li>
                <a href="javascript:void(0);" title="pink" style="background-color: #2196f3;"
                    onclick="setActiveTheme('blue')"></a>
            </li>
            <li>
                <a href="javascript:void(0);" title="pink" style="background-color: #fa5b0f;"
                    onclick="setActiveTheme('orange')"></a>
            </li>
            <li>
                <a href="javascript:void(0);" title="pink" style="background-color: #ffb400;"
                    onclick="setActiveTheme('yellow')"></a>
            </li>
            <li>
                <a href="javascript:void(0);" title="pink" style="background-color: #72b626;"
                    onclick="setActiveTheme('green')"></a>
            </li>
        </ul>
        <h5>Mode</h5>
        <label>
            <input type="radio" class="mode" name="body-style" value="light" checked="true" />Light
        </label>
        <label>
            <input type="radio" class="mode" name="body-style" value="dark" />Dark
        </label>
    </div>

    <!----------- Live Theme Switcher End ------------>
    <!--------- Template JS --------------->
    <script src="/public/js/script.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!--------- Template End --------------->
</body>

</html>