.aside .logo a::before {
  border-top: 4px solid #fa5b0f;
  border-left: 4px solid #fa5b0f;
}

.aside .logo a::after {
  border-bottom: 4px solid #fa5b0f;
  border-right: 4px solid #fa5b0f;
}

.tabs ul li:hover,
.tabs ul li.tab-active,
.tabs ul li:before,
body.dark .tabs ul li:hover,
body.dark .tabs ul li.tab-active,
body.dark .tabs ul li:before,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
body.dark .portfolio .portfolio-filter button.active,
.container .portfolio-item .portfolio-info .portfolio-content h2,
.contact .contact-info-item .icon .fa,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
  color: #fa5b0f;
}

.contact #error-message,
.tabs ul li:before,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.container .portfolio-item .portfolio-info .portfolio-content button,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
  background-color: #fa5b0f;
}

body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active {
  border-color: #fa5b0f;
}
